{% extends "blog/layout.html" %}
{% load bootstrap3 %}
{%  block extra_body %}
    <script>
        $(function () {
            var raw_template = $('#comment-template').html();
            var tpl = _.template(raw_template);

            $("#comment-form").submit(function (e) {
                e.preventDefault();

                var $form = $(this);//Jquery 래핑 객체 만들기
                var $submit = $form.find('[type=submit]');

                $submit.prop('disabled', true); // 요청 전에

                var url = $form.attr('action');
                var data = $form.serialize();//url encoded 된 데이터

                $.post(url, data)
                    .done(function (obj) {
                        console.log("--done--");
                        console.log(obj);
                        if ( obj.is_success === false ) {
                            alert(obj.message);
                        }
                        else {
                            $('#comment-list').prepend(tpl(obj));

                            $form[0].reset();
                        }
                    })
                    .fail(function (xhr, textStatus, error) {
                        alert('failed : ' + error);
                    })
                    .always(function () {
                        $submit.prop('disabled', false);
                    });

            });

            $(document).on('click','.ajax-post-confirm', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                var target_id = $(this).data('target-id');
                var message = $(this).data('message');

                if(confirm(message)){
                    $.post(url)
                        .done(function () {
                            $('#'+ target_id).remove();
                        })
                        .fail(function (xhr, textStatus, error) {
                            alert('failed : '+ error);
                        });
                }
            });
        });

        $(document).ready(function () {

            $('#addItem').on('click', addItem);
            $('#todos').on('change','.completeItem',completeItem);
            $('#todos').on('click','.checkItem',checkItem);
            $('#todos').on('click','.deleteItem',deleteItem);
            $('#todos').on('click','.todoText',startEditing);
            $('#todos').on('click','.saveItem',stopEditing);
            $('#newTodo').on('keypress', function (event) {
                if(event.which === 13){
                    addItem();
                    event.preventDefault();
                }
            });
            function startEditing(event) {
                var taskLi = $(this).parent();
                var currentText = taskLi.find('.todoText').text();
                taskLi.find('.editText').val(currentText);
                taskLi.find('.editText').show();
                taskLi.find('.saveItem').show();
                taskLi.find('.todoText').hide();
            }
            function stopEditing(event) {
                $(this).hide();
                var taskLi = $(this).parent();

                var newValue= taskLi.find('.editText').val();
                taskLi.find('.editText').hide();
                taskLi.find('.todoText').text(newValue);
                taskLi.find('.todoText').show();
            }
            function  addItem(event) {
                var newTodoText = $('#newTodo').val();
                if(newTodoText==="")
                    alert("할일을 입력하시오!");
                else
                    $('#todos').append('<li><input class="completeItem" type="checkbox"><span class="todoText"> '+ newTodoText +
                        '</span><input type="text" class="editText"><button class="btn btn-success saveItem">save</button>' +
                        '<span class="glyphicon glyphicon-trash deleteItem"></span></li>');
                $('#newTodo').val("");
            }
            function deleteItem(event) {
                $(this).parent().remove();
            }
            function checkItem(event) {
                $(this).parent().toggleClass('done');
            }
            function completeItem(event) {
                $(this).parent().toggleClass('done');
                $(this).parent().find('.checkItem').hide();
            }
        });
    </script>
{% endblock %}

{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ post.title }}</h1>
                {{ post.content|linebreaks }}
                <hr/>
                <div class="container">
                    <div class="row">
                        <div class ="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                            <div class="page-header">
                                <h1>TodoList</h1>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="newTodo" placeholder="할일">
                                        </div>
                                        <button type="button" id="addItem" class="btn btn-success">추가</button>
                                    </div>
                                </form>
                            </div>
                            <ul id= "todos">
                            </ul>
                        </div>
                    </div>
                </div>
                <hr/>
                <form id="comment-form" action="{% url "blog:comment_new" post.pk %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form comment_form %}
                    <input type="submit" class="btn btn-primary btn-block">
                </form>

                {# <a href="{% url "blog:comment_new" post.pk %}" class="btn btn-primary btn-block">댓글쓰기</a> #}
                <ul id="comment-list">
                    {% for comment in post.comment_set.all %}
                        <li id="comment- {{ comment.pk }}">
                            {{ comment.message }}
                            &dash;
                            <a href="{% url "blog:comment_edit" post.pk comment.pk %}">
                                <small>{{ comment.updated_at }}  </small>
                            </a>

                            <a href="{% url "blog:comment_delete" post.pk comment.pk %}"
                               class = "ajax-post-confirm"
                               data-target-id="comment-{{ comment.pk }}"
                               data-message="정말 삭제하시겠습니까?">
                                <small>삭제</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <hr/>
                <a href="{% url "blog:index" %}" class="btn btn-primary"> 목록 </a>
                <a href="{% url "blog:post_edit" post.pk %}" class="btn btn-primary"> 수정 </a>
                <a href="{% url "blog:post_delete" post.pk %}" class="btn btn-danger">삭제</a>
            </div>
        </div>
    </div>
    <script type="text/x-template" id="comment-template">
        <li id="comment-<%= id %>">
            <%= message %>
            &dash;
            <a href="<%= edit_url %>">
                <small><%= updated_at %></small>
            </a>
            <a href="<%= delete_url %>" class="ajax-post-confirm" data-target-id="comment-<%= id %>" data-message="정말 삭제하시겠습니까?">
                <small>삭제</small>
            </a>
        </li>
    </script>
{% endblock %}

